body {
    margin: 0;
    display: flex;
}
.layout {
    margin: 0;
    height: 1080px; /*esto es provisional para que todo se vea bien hasta que rellene la página*/
    display: flex;
    flex-direction: column;
}
nav {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100%;
    align-items: flex-start;
}
h2 {
    text-align: center;
}
header {
    display: flex;
    height: 6%;
    width: 100%;
    margin-bottom: 2%;
    position: fixed;
}
.inicio {
    width: 20%;
}
.logo {
    height: 100%;
    width: 100%;
}
h1 {
    margin: 0;
    margin-left: 5%;
    width: 50%;
    border: 1px solid black;
}
.carrito {
    margin: 0;
    width: 15%;
    text-align: center;
}
.usuario {
    margin: 0;
    width: 15%;
    text-align: left;
}
.box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 6%;
}
.producto {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60%;
    justify-content: space-evenly;
}
img {
    width: 70%;
    height: 70%;
    align-self: center;
}
.descrip {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60%;
    margin-left: 10%;
}