@font-face {
    font-family: 'Van Helsing';
    src: url('VanHelsing-Regular.woff2') format('woff2'),
        url('VanHelsing-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

